[submodule "vendor/Symfony/Component/ClassLoader"]
	path = vendor/Symfony/Component/ClassLoader
	url = git://github.com/symfony/ClassLoader
[submodule "vendor/Symfony/Component/Process"]
	path = vendor/Symfony/Component/Process
	url = git://github.com/symfony/Process
